<div class="card w-[204px] duration-[0.8s] min-h-[181px] border h-full rounded-[15px] p-[15px] flex flex-col justify-between items-start"
[ngClass]="{
    'border-[#DCDCDC]': !this.isActive,
    'border-[#fff] drop-shadow-[0px_0px_10px_rgba(0,0,0,0.3)] scale-[1.03]': this.isActive,
}"
[style.backgroundColor]="(this.isActive) ? this.highlightColor : 'rgba(255,255,255,100%)'"
(click)="this.goto()"
>
    <div class="card-header relative w-full flex justify-between items-center">
        <div class="icon w-[34px] h-[34px] flex justify-center items-center rounded-[10px]"
        [style.backgroundColor]="(this.isActive) ? 'rgba(255,255,255,20%)' : this.highlightColor"
        >
            <app-icon
            [icon]="this.icon"
            [color]="'white'"
            />
        </div>

        @if (this.cardDropdownButton.visible) {
            <div class="card-dots h-max">
                <!-- (click)="$event.stopPropagation()" -->
                <a
                (click)="this.toggleCardDropdown()"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" [attr.stroke]="(!this.isActive) ? 'black' : 'white'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" [attr.stroke]="(!this.isActive) ? 'black' : 'white'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" [attr.stroke]="(!this.isActive) ? 'black' : 'white'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
            
            @if (this.showCardDropdown) {
                <div class="card-dropdown appear-softly absolute top-8 right-0 z-[3] bg-white border border-gray-200 p-2 rounded">
                    <div class="dropdown-container">
                        <ul class=" flex flex-col gap-1">
                            @for (item of this.cardDropdownButton.items; track $index) {
                                @switch (item) {
                                    @case ('edit') {
                                        <li>
                                            <a
                                            [routerLink]="['/account/cards/edit/' + this.id ]"
                                            class="text-sm text-default py-1 block"
                                            >Editar cartão</a></li>
                                    }
                                    @case ('hideValues') {
                                        <li>
                                            <a
                                            [routerLink]="null"
                                            class="text-sm text-default py-1 block"
                                            (click)="this.changeSeeMoneyStatusEventEmitter(!this.showValue)"
                                            (click)="this.closeCardDropdown()"
                                            >{{ (this.showValue ? 'Ocultar valores' : 'Mostrar valores') }}</a></li>
                                    }
                                    @case ('delete') {
                                        <li>
                                            <a
                                            [routerLink]="null"
                                            (click)="this.closeCardDropdown()"
                                            (click)="this.deleteItem()"
                                            class="text-sm text-error/90 py-1 block"
                                            >Eliminar cartão</a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        }

    </div>
    <div class="card-body w-full">
        <h1 class="font-outfit font-medium duration-[0.8s] text-[1.25rem] limited-text two-lines leading-[25px] text-left text-primary"
        [ngClass]="{
            '!text-white': this.isActive
        }"
        >
            {{ this.title }}
        </h1>
        <p class="text-xs font-outfit text-mediumGray"
        [ngClass]="{
            '!text-white/80': this.isActive
        }"
        >
            {{ this.description }}
        </p>
    </div>
    <div class="card-footer w-full flex justify-between items-center"
    [ngClass]="{
        'min-h-[30px]': !this.showBottomInformations
    }"
    >
        @if (this.showBottomInformations) {
            <div class="amount max-w-[130px]"
            (click)="$event.stopPropagation()"
            (click)="this.changeSeeMoneyStatusEventEmitter(!this.showValue)"
            >
                @if (this.showValue) {
                    <p class="text-[20px] appear-softly text-primary font-outfit font-semibold limited-text one-line"
                    [ngClass]="{
                        '!text-white/90': this.isActive
                    }"
                    >
                        {{ this.amount | number:'1.2-2' | format }} <span class="opacity-0"></span>
                    </p>
                } @else {
                    <!-- <p class="placeholder !relative !w-fit !h-fit rounded text-xl text-transparent font-sembold"> placeholder</p> -->
                    <p class="text-xl appear-softly text-primary/50 font-outfit font-semibold limited-text one-line"
                    [ngClass]="{
                        '!text-white/90': this.isActive
                    }"
                    >
                        --- --- --- ---
                    </p>
                }
            </div>
            <div class="currency">
                <p class="text-xs font-outfit text-mediumGray limited-text one-line"
                [ngClass]="{
                    '!text-white/80': this.isActive
                }"
                >{{ this.tinyRightText }}</p>
            </div>
        }
    </div>
</div>