<div class="my-cards-container">
    <div class="section-header py-[10px]">
        <div class="limited-container" #sectionHeaderLimitedContainer>
            <h1 class="uppercase text-lg font-medium font-outfit text-primary leading-[23px]">Quantia por cartão</h1>
        </div>
    </div>
    <div class="section-content py-[25px] w-full overflow-hidden" #cardsContentScroller>
        @if (this.loader$()) {
            <div class="spinner flex justify-center">
                <app-load-spinner />
            </div>
            
        } @else {
            <div class="cards-container w-max flex gap-[15px] justify-start items-stretch"
            [style.paddingLeft.px]="this.paddingX()"
            [style.paddingRight.px]="this.paddingX()"
            >
                @for (card of cards; track $index) {
                    <div class="card w-[204px] min-h-[181px] h-full border border-[#DCDCDC] rounded-[15px] p-[15px] flex flex-col justify-between items-start">
                        <div class="card-header w-full flex justify-between items-center">
                            <div class="icon w-[34px] h-[34px] flex justify-center items-center rounded-[10px]"
                            [style.backgroundColor]="card.settings.highlightColor"
                            >
                                @if (card.objective.description == 'Conta Corrente') {
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M17 5H9.5C8.57174 5 7.6815 5.36875 7.02513 6.02513C6.36875 6.6815 6 7.57174 6 8.5C6 9.42826 6.36875 10.3185 7.02513 10.9749C7.6815 11.6313 8.57174 12 9.5 12H14.5C15.4283 12 16.3185 12.3687 16.9749 13.0251C17.6313 13.6815 18 14.5717 18 15.5C18 16.4283 17.6313 17.3185 16.9749 17.9749C16.3185 18.6313 15.4283 19 14.5 19H6" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                } @else {
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19 5C17.5 5 16.2 6.4 16 7C12.5 5.5 5 6.7 5 12C5 13.8 5 15 7 16.5V20H11V18H14V20H18V16C19 15.5 19.7 15 20 14H22V10H20C20 9 19.5 8.5 19 8V5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M2 9V10C2 11.1 2.9 12 4 12H5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                }
                            </div>
    
                            <div class="card-dots h-max">
                                <a>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="card-body w-full">
                            <h1 class="font-outfit text-[1.25rem] limited-text two-lines leading-[25px] text-left text-primary">
                                {{ card.name }}
                            </h1>
                            <p class="text-xs font-outfit text-mediumGray">{{ card.objective.description }}</p>
                        </div>
                        <div class="card-footer w-full flex justify-between items-center">
                            <div class="amount max-w-[130px]">
                                <p class="text-[20px] text-primary font-outfit font-semibold limited-text one-line">
                                    {{ 2000000 | number | format }} <span class="opacity-0">br</span>
                                </p>
                            </div>
                            <div class="currency">
                                <p class="text-xs font-outfit text-mediumGray limited-text one-line">{{ card.settings.currency.name }}</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

