<main class="">
    <div class="header sticky top-0 z-[100]">
        <app-header />
    </div>
    <div class="body-content flex flex-col gap-y-5">
        <!-- <div class="tips-section">
            <app-tips
            [captureEvents]="false"
            />
        </div> -->
        <div class="account-container">
            <router-outlet />
        </div>
    </div>
    <div class="header sticky bottom-0 z-[100]">
        Bottom
    </div>
    <div class="footer bg-primary text-white">

        <p>{{ authService.user?.email }}</p>
        
        <button (click)="signOut()">Sair</button>

    </div>
</main>