<router-outlet></router-outlet>

@if (this.loaderService.getState(this.loaderActionEnum.GETTING_USER_DATA)()) {
    <div class="h-screen bg-white absolute top-0 left-0 z-[99] w-full flex justify-center items-center">
        <div class="info-container flex flex-col gap-6 justify-center items-center max-w-[300px]">
            <app-load-spinner />
            <p class="font-outfit text-center">
                Estamos carregando suas informações. Você será redirecionado para sua conta em breve.
            </p>
        </div>
    </div>
}

<div class="logs-container fixed z-[4200] w-full max-w-[90%] md:max-w-[250px] flex flex-col gap-y-2 right-[50%] translate-x-[50%] lg:right-10 lg:translate-x-0 top-10">
    @for (log of this.logger.logs$(); track $index) {
    <div class="log-panel appear-softly-from-top px-4 py-3 rounded-lg font-outfit text-base text-center bg-white/[var(--blured-bg-opacity)] backdrop-blur-[25px] text-[#626262] border-[1px] border-[#DCDCDC]">
        <p class="font-outfit"
        [ngClass]="{
            'text-[#DD2C2C]': log.status === this.logStatus.ERROR,
            'text-[#43A747]': log.status === this.logStatus.SUCCESS,
            'text-[#4383A7]': log.status === this.logStatus.INFO,
            'text-[#626262]': log.status === this.logStatus.DEFAULT,
        }"
        >
            {{ log.message }}
        </p>
    </div>
    }
</div>