<div class="my-cards-container mt-[20px]">
    <div class="section-header py-[10px]">
        <div class="limited-container flex justify-between items-center" #sectionHeaderLimitedContainer>
            <h1 class="uppercase text-lg font-medium font-outfit text-primary leading-[23px]">
                {{ sectionTitle }}
            </h1>
            
            @if (addCardButton.visibility && cards.length > 0) {
                <div class="button">
                    <a [routerLink]="addCardButton.route" class="">
                        <svg width="30" height="30" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="25" height="25" rx="5" fill="#16171D"/>
                            <path d="M6.25 12.7063H19.1625M12.7063 6.25V19.1625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="section-content py-[20px] w-full overflow-hidden" #cardsContentScroller>
        @if (this.loader$()) {
            <div class="spinner h-[181px] flex justify-center items-center">
                <app-load-spinner />
            </div>
            
        } @else {
            <div class="cards-container w-max flex gap-[15px] justify-start items-stretch"
            [style.paddingLeft.px]="this.paddingX()"
            [style.paddingRight.px]="this.paddingX()"
            >
                @if (cards.length > 0) {
                        @for (card of cards; track $index) {
                            <app-square-card
                            [icon]="{ ref: card.iconRef, color: 'white' }"
                            [title]="card.name"
                            [description]="card.objective.description"
                            [highlightColor]="card.settings.highlightColor"
                            [tinyRightText]="card.settings.currency.name"
                            [amount]="card.amount"
                            />
                        }
                } @else {
                    <div class="card w-[204px] min-h-[181px] h-full border border-dashed border-[#DCDCDC] rounded-[15px] p-[15px] flex justify-center items-center">
                        <a [routerLink]="addCardButton.route" class="block w-fit h-full">
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 30H50M30 10V50" stroke="#B2B2B2" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    @if (showControllers) {
        <app-scroller-point-controllers
        [itemsArray]="itemsArray"
        [activeIndex]="this.activeIndex"
        (gotoIndex)="gotToIndexEventHandler($event)"
        />
    }
</div>

